[Unit]
Description=Prometheus Node Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=node_exporter
Group=node_exporter
Type=simple
ExecStart=/usr/local/bin/node_exporter-{{ node_exporter_v.stdout_lines[0]}}.linux-amd64/node_exporter


[Install]
WantedBy=multi-user.target

